.card{
  background-color: #EAC2b1 !important;
  color:#2C7AAF;
}

/* .right { float: right;  margin: 0 1.5%; width: 30%;}
.left { float: left; margin: 0 1.5%; width: 63%;} */

#box {
  background-color: #EAC2b1;
  color:#2C7AAF;
}

/* light pink f8e4db */

h2 {
  margin-left: auto;
  margin-right: auto;
}

form {
  margin-left: auto;
  margin-right: auto;
}
