<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Finding Lucy</title>
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">  -->
    <script src="https://d3js.org/d3.v5.min.js"></script>      
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.9.7/d3.min.js"></script>      
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>      
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.0.0/mdb.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static',filename = 'css/style.css')}}">
    <link rel="shortcut icon" href="#">
    
    <style>

    </style>

  </head>

<body class style="margin:10px;padding:10px; background: #F5E5DD;font-family:Verdana, Geneva, Tahoma, sans-serif">

   <!-- Navigation Bar -->
  <nav  class="navbar navbar-expand-lg navbar-light" style="background: #90C6FA">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="nav navbar-nav navbar-left" style = "font-size:xx-large;color:white" href="/">Finding Lucy: an image classifier</a>
      </div>
      <ul class="nav navbar-nav navbar-right" style = "float: right;font-size:medium;color:#2C7AAF;font-weight: bold;">
        <li class="active"><a href="/">Home</a></li>
        <li><a class="nav-link" href="/log">Log<span class="sr-only">(current)</span></a></li>
        <li><a class="nav-link" href="/about">About<span class="sr-only">(current)</span></a></li>
        <li><a class="nav-link" href="https://github.com/tanvi-12/Project-Find-Lucy">Github<span class="sr-only">(current)</span></a></li>
        <li><a class="nav-link" href="/model">Model<span class="sr-only">(current)</span></a></li>
      </ul>
    </div>
  </nav>
  <div class="container">
    <!-- Uploads --> 
    <div class="jumbotron">
      <div class="row">  
        <h2 id = "jumbo-text" style ="color: #f8e4db(27, 42, 107);">We are here to find your pet</h2>
      </div>
      <div class="row">
        <h3>Upload an image of your lost cat or dog</h3>
      </div> 
      <div class="row"> 
        <form action="" method=post enctype=multipart/form-data>
          <input style ="color:#2C7AAF; border: 2px solid white; border-radius: 2px; margin: 5px;" type=file name=file>
          <input style ="background-color:#2C7AAF; color: white; border: 2px solid white; border-radius: 2px; margin: 5px;" type=submit value=Upload>
        </form>
      </div> 
    </div>  
    <!-- Output Section -->
    <div class="row">
      <!-- <div class="container content"> -->
      <div class = "col-md-6">
        <div class="container-fluid" id="box">
          <div class="page-header">
            <h3>Output</h3>
          </div>
            <table class="table table-hover">
              <tr class="table-active">
                <th scope="col">Image</th>
                <th scope="col">Classification</th>
              </tr>
              <tr>
                <th scope="row"> <img width="224" height="224" src="{{imagesource}}" /> </th>
                  <td> {{label}} </td>
              </tr>
            </table> 
  
        </div>
      </div>
      <!-- </div>  -->
      <div id = "log" class="col-md-6">
        <div class="card w-100">
          <h3 class="card-text">Cats & Dogs Log Stats</h3>
          <!-- <div width="600" height="500" id = "catsDogsPlot"></div> -->
          <div class="card-img-bottom" id="catsDogsPlot" width="300" height="300"> </div>
        </div>  
      </div>   
    </div>
    <hr>
    <!-- Gauge section -->
    <div class="row">
      <div class="col-md-6">
        <div class="card w-100">
          <h3 class="card-text" style = "text-align: center">Cat Classification Model Avg Accuracy</h3>  
          <div class="card-img-bottom" id="cat_avg_accuracy" width="300" height="300"> </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card w-100">
          <h3 class="card-text" >Dog Classification Model Avg Accuracy</h3>  
          <div class="card-img-bottom" id="dog_avg_accuracy" width="300" height="300"> </div>
        </div>
      </div>
    </div>
  </div>>

  
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <!-- Z' logics script-->
  <script src="{{url_for('static', filename='js/logic.js')}}"></script>  

</body>
</html>

