<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="styles.css">
  <title>Finding Lucy</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="../static/styles.css">
  <link rel="shortcut icon" href="#">
   </head>

  <body class style="margin:10px;padding:10px; background: #F5E5DD;font-family:Verdana, Geneva, Tahoma, sans-serif">

   <!-- Navigation Bar -->


  <nav  class="navbar navbar-expand-lg navbar-light bg-light" style="background: #90C6FA">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand active text-white " style = "color:white" href="index.html">Finding Lucy</a>
      </div>
      <ul class="nav navbar-nav navbar-right" style = "color:#2C7AAF;font-weight: bold;">
        <li class="active"><a href="#index.html">Home</a></li>
        <li><a class="nav-link" href="">About<span class="sr-only">(current)</span></a></li>
        <li><a class="nav-link" href="https://github.com/tanvi-12/Project-Find-Lucy">Github<span class="sr-only">(current)</span></a></li>
        <li><a class="nav-link" href="">Model<span class="sr-only">(current)</span></a></li>
      </ul>
    </div>
  </nav>

    <div class="page-header" id="banner">
      <div class="row">
        <div class="col-lg-8 col-md-7 col-sm-6">
          <h1>Cats vs Dogs Image Recognition Server</h1>
          <h3></h3>
          <p class="lead">Upload the image and to find out is it a (<b>Cat</b> or <b>Dog</b>)?</p>
        </div>
      </div>
      <form action="" method=post enctype=multipart/form-data>
        <input type=file name=file>
        <input type=submit value=Upload>
    </form>
    </div>
    <p style="margin-bottom:2cm;"></p>
    <div class="row" id="box">
        <div class="col-lg-4">
          <div class="page-header">
            <h3 id="tables">Result</h3>
          </div>
          <div class="bs-component">
            <table class="table table-hover">
                <tr class="table-active">
                  <th scope="col">Image</th>
                  <th scope="col">Predict</th>
                </tr>
                <tr>
                    <th scope="row"> <img width="224" height="224" src="{{imagesource}}" /> </th>
                    <td> {{label}} </td>
                  </tr>
            </table> 
        </div>
      </div>
      <style>
      #box{
        background-color: #EAC2b1 
      }
      </style>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script src="{{url_for('static', filename='app.js')}}"></script>
</body>
</html>